.devops-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  line-height: 16px;
  border: none;
  cursor: pointer;
  font-family: PingFangSC-Medium, Microsoft YaHei, sans-serif;
  padding: 8px 12px;
  height: 32px;
  font-size: 14px;
  width: auto;

  & > span {
    display: inline-block;
  }

  &:hover {
    background: #606c80;
    color: #fff;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    background-color: #bcc0c5;
    box-shadow: none;
  }

  &.disabled:hover,
  &[disabled]:hover {
    background-color: #bcc0c5;
    box-shadow: none
  }
}

.devops-btn-lg {
  padding: 6px 20px;
  font-size: 16px;
  font-weight: 500;
  height: 42px;
}

.devops-btn-sm {
  font-size: 12px;
  height: 24px;
}

.devops-btn-primary {
  color: #fff;
  background-color: #202d40;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.devops-btn-default {
  color: #455166;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(32, 45, 64, .12), 0 0 1px 0 rgba(0, 0, 0, .1);

  &:hover {
    color: #202d40;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(32, 45, 64, .12), 0 2px 4px 0 rgba(0, 0, 0, .08), 0 0 1px 0 rgba(0, 0, 0, .1)
  }
}

.devops-btn-danger {
  color: #fff;
  background: #e63d2e;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);

  &:hover {
    background: #fa452d;
    box-shadow: 0 4px 8px 0 rgba(255, 68, 51, .15), 0 1px 4px 0 rgba(0, 0, 0, .1)
  }

  &:active {
    background-color: #e63d2e;
    box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, .08), inset 0 1px 0 0 rgba(0, 0, 0, .08)
  }

  &.disabled, &[disabled], &.disabled:hover, &[disabled]:hover {
    background-color: #f8c5c0
  }
}

.devops-btn-blue {
  background: rgba(0, 102, 255, .08);
  color: #06f;
  box-shadow: none;

  &:hover {
    background: rgba(0, 102, 255, .16);
  }

  &:active {
    background-color: #e63d2e;
    box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, .08), inset 0 1px 0 0 rgba(0, 0, 0, .08)
  }

  &.disabled, &[disabled] {
    background-color: #f8c5c0
  }
}
